apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: chat-app
      labels: 
        app: backend
    spec:
      containers:
      - name: chatapp-backend
        image: ankim628/chatgitbackend:gcphttp
        ports:
        - containerPort: 5001
        env:
        - name: NODE_ENV
          value: production
        - name: FRONTEND_URL
          value: "http://35.224.159.2"
        - name: CORS_ORIGIN
          value: "http://35.224.159.2"
        - name: COOKIE_DOMAIN
          value: "35.224.159.2"
        - name: MONGODB_URI
          value: "mongodb://mongoadmin:secret@mongodb:27017/dbname?authSource=admin"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: chatapp-secrets
              key: jwt 
        - name: PORT
          value: "5001"
